body {
	margin:0px;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: #000000;

	background-color: #EDEEF0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

a {
    display: block;
    padding: 8px;
    background-color: #7F8384;
}


.container {
text-align: center;
font-size: 25px;
bottom: 200px;
position: static;

}

.soderjanie {
	text-align: left;
	margin-right: 80px;
	margin-left: 80px;
	font-size: 17px;
	position: static;
}

.soderjanie1 {
	text-align: left;
	margin-right: 80px;
	margin-left: 50px;
	font-size: 18px;
	position: static;
}

.granitsy {
	text-align: center;
	padding-top 20px;
}

.pic {
	height: 400px;
	width: 800px;
}

.podzagolovok {
	text-align: center;
	font-size: 50px;
	position: static;
}

.png {
	left: 100px;
	margin-top: 200px;
	width: 580px;
	height: 400px;
	position: absolute;
	z-index: 1;
}

.png2 {
	margin-top: 0px;
	margin-bottom: 195px;
	position: absolute;
	z-index: 1;
	left: 100px;
}

.png3 {
	width: 450px;
	height: 450px;
	left: 800px;
	position: absolute;
	z-index: 1;
}

.png4 {
	position: absolute;
	z-index: 1;
	left: 800px;
	top: 1255px;
}

.sootnoshenie {
	text-align: left;
}

.imagesss {
    text-align: center;
}

.img1 {
	z-index: 1;
	height: 300px;
	width: 450px;
}

.img2 {
	z-index: 2;
	height: 300px;
	width: 450px;
}

.img3 {
	z-index: 1;
	height: 300px;
	width: 450px;
}

footer {
    margin-top: px;
}

.header {
	position: static;
	padding-bottom: px;
}

.header1 {
	margin-left: px;
	position: static;
}

.header2 {
	left: 100px;
	position: static;
}

.header3 {
	position: static;
	left: 170px;
}

.header4 {
	position: static;
	left: 240px;
}

.header5 {
	position: static;
	margin-left: 310px;
}

.header6 {
	position: static;
	margin-left: 380px;
}
